
<div *ngIf="!loading" class="wrapper">
  <div class="body">
    <img src="../../../../assets/img/login.png" alt="login">
    <h1>Acceder</h1>
    <div class="form-floating mb-3">
      <input type="email" id="email" [(ngModel)]="email" class="form-control" placeholder="name@example.com">
      <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" id="password" [(ngModel)]="password" class="form-control" placeholder="password">
      <label for="password">Contraseña</label>
    </div>
    <div class="d-grid gap-2">
      <button  routerLinkActive="router-link-active"  class="btn btn-primary" type="button" (click)="login()">Aceptar</button>
    </div>
    <p class="mt-3">Si no dispone de una cuenta <br><a [routerLink]="['/auth/register']" routerLinkActive="router-link-active" >regístrese aquí</a></p>

    <app-spinner *ngIf="loading" />
</div>




<!-- <div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="img login">
        <h3 class="mb-2">Login</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="username" autocomplete="false" class="form-control" placeholder="Ingrese usuario">
            <label>Usuario</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" autocomplete="false" class="form-control" placeholder="Ingrese password">
            <label>Password</label>
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary btn-lg" (click)="login()">Aceptar</button>
        </div>
        <p class="mt-3">No tienes cuenta? <a routerLink="/signIn">Registrar</a></p>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div> -->
